@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root{
    font-family: 'Outfit', sans-serif;
    --color-1: hsl(0, 0%, 100%); 
    --color-2: hsl(212, 45%, 89%);
    --color-3: hsl(220, 15%, 55%);
    --color-4: hsl(218, 44%, 22%);
  
}

*{
    box-sizing: border-box;
}

.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-2);
    width: 100vw;
}

.card{
    background-color: var(--color-1);
    max-width: 375px;
    border-radius: .7em;
    padding: 1em;
    
}

.image{
    width: 100%;
    border-radius: .7em;
}

.title, .text{
    text-align: center;
}

.text{
    color: var(--color-3);
    padding-bottom: 1em;
}